<ion-content class="login-page" fullscreen>
  <div class="outer-wrapper">
    <div class="login-box animate__animated animate__fadeInDown">
      <img src="assets/lgoo.jpg" class="logo" alt="Logo" />
      <h2>Barbershop Mian</h2>

      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Login Sebagai</ion-label>
            <ion-select [(ngModel)]="role">
              <ion-select-option value="user">Pengguna</ion-select-option>
              <ion-select-option value="admin">Admin</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="login()" class="ion-margin-top">
            LOGIN
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
